
body {
	font-family: "Segoe UI";
	background-color: #F6F9F0;
}

#banner {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	background-color: #8D4DB7;
	box-shadow: inset 0px -5px 5em #4B2E5E, 0 0 12px -2px #000000;
	height: 3em;
}

h1 {
	display: inline;
	margin: 0.5em;
	color: #D5FF00;
	cursor: pointer;
}

table {
	width: 100%
}

#left {
	min-width: 17em;
}

#login{
	float: right;
}

#username, #password {
	color: #A0A0A0;
	width: 10em;
	height: 1em;
	border: solid;
	border-color: white;
	border-radius: 0.2em;
}

.textonlybutton {
	color: #D2C6DA;
	font-weight: bold;
	background:none;
	border: none;
	margin: 0.3em;
	padding: 0;
}

#usernamelabel {
	color: #EEEAF4;
	font-weight: bold;
}

.login_failure {
	position: relative;
	left: 0.2em;
	color: #D2C6DA;
}

.container {
	margin: 0 auto;
	margin-top: 4em;
	z-index: 0;
	width: 70%;
}

.movie {
	padding-top: 3em;
}

#thumbnail {
	border: solid;
	border-radius: 0.5em;
	border-width: 1px;
	border-color: #B6C992;
	margin-right: 1.2em;
	box-shadow: 0 0 20px 0 #B6C992;
}

.title {
	font-size: 2.2em;
	white-space: nowrap;
}

.genres {
	color: #A0A0A0;
	font-size: 1.2em;
}

#rating_label {
	font-size: 1.2em;
}

.star_rating, .fixed_star_rating {
	transform: scaleX(-1);
    border:none;
    display:inline-block;
	position: relative;
	top: 0.1em;
	right: 0.3em;
	letter-spacing: -0.1em;
	margin-left: 0.5em;
	padding: 0;
}

.star_rating > input[type="radio"], .fixed_star_rating > input[type="radio"] {
    display: none;
}

.star_rating label, .fixed_star_rating label {
	font-size: 1.6em;
}

.star_rating> label, .fixed_star_rating> label {
	
    color: #C9C9C9;
}

.star_rating > input[type="radio"]:checked ~ label, .fixed_star_rating > input[type="radio"]:checked ~ label {
    color: #FFCC00;
}

.star_rating > label:hover,
.star_rating > label:hover ~ label {
    color: #FFCC00;
}

#synopsis {
	padding-top: 1em;
}
