
body {
    font-family: "Segoe UI";
    background-color: #F6F9F0;
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    background-color: #8D4DB7;
	box-shadow: inset 0px -5px 5em #4B2E5E, 0 0 12px -2px #000000;
    height: 3em;
}

h1 {
    display: inline;
    margin: 0.5em;
    color: #D0FD68;
	cursor: pointer;
}

#bannerComponents {
	width: 100%;
}

#left {
    min-width: 17em;
}

#login{
    float: right;
}

#username, #password {
    color: #A0A0A0;
    width: 10em;
    height: 1em;
    border: solid;
    border-color: white;
    border-radius: 0.2em;
}

.textonlybutton {
    color: #D2C6DA;
    font-weight: bold;
    background:none;
    border: none;
    margin: 0.3em;
    padding: 0;
	cursor: pointer;
}

#usernamelabel {
    color: #EEEAF4;
    font-weight: bold;
	position: relative;
	bottom: 0.1em;
}

.login_failure {
    position: relative;
    left: 0.2em;
    color: #D2C6DA;
	position: relative;
	bottom: 0.1em;
}

#container {
    margin: 0 auto;
    margin-top: 4em;
    z-index: 0;
    width: 70%;
}

#selectors td{
	padding: 0.6em;
	padding-right: 4em;
}

select {
	width: 10em;
    border: solid;
	border-width: 1px;
    border-radius: 0.2em;
	border-color: #B6C992;
	box-shadow: 0 0 20px -1px #B6C992;
}

.thumbnail {
	border: solid;
	border-radius: 0.2em;
	border-width: 1px;
	border-color: #B6C992;
	box-shadow: 0 0 20px -1px #B6C992;
	cursor: pointer;
}

.info {
	position: relative;
	bottom: 1.5em;
}

.title {
    font-size: 1.2em;
	cursor: pointer;
	white-space: nowrap;
}

.genres {
    color: #A0A0A0;
    font-size: 0.8em;
}

#numericalRating {
	margin-left: 0.2em;
	font-size: 0.9em;
}




.fixed_star_rating {
    transform: scaleX(-1);
    border:none;
    display:inline-block;
    position: relative;
    top: 0.1em;
    right: 0.3em;
    letter-spacing: -0.1em;
    margin-left: 0.5em;
    padding: 0;
}

.fixed_star_rating > input[type="radio"] {
    display: none;
}

.fixed_star_rating label {
    font-size: 1.6em;
}

.fixed_star_rating> label {
    color: #C9C9C9;
}

.fixed_star_rating > input[type="radio"]:checked ~ label {
    color: #FFCC00;
}


